$datatables-fixed-element-bg:                $table-bg !default;

$datatables-scroller-label-padding:          $tooltip-padding-y $tooltip-padding-x !default;
$datatables-scroller-label-font-size:        $font-size-base !default;
$datatables-scroller-label-border-width:     $tooltip-border-width !default;
$datatables-scroller-label-border-radius:    $tooltip-border-radius !default;
$datatables-scroller-label-bg:               $tooltip-bg !default;
$datatables-scroller-label-color:            $tooltip-color !default;
$datatables-scroller-label-border-color:     $tooltip-border-color !default;
$datatables-scroller-label-offset:           $spacer * .5 !default;