{% extends "components/template.njk" %}
<!-- prettier-ignore-start -->
{% set page_title = "Toast" %}
{% set page_id = "elements.base.toast" %}
{% set breadcrumb = [
  { text: "Dashboard", link: "/", icon: '<i data-feather="home"></i>' },
  { text: "Elements" },
  { text: "Base" },
  { text: "Toast", link: "/elements/base/toast.html" }
] %}
<!-- prettier-ignore-end -->

{% block main_script %}
	<script type="module" src="/src/app/pages/elements/toast.ts"></script>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<!-- BEGIN Portlet -->
			<div class="portlet">
				<div class="portlet-header portlet-header-bordered">
					<h3 class="portlet-title">Toast examples</h3>
				</div>
				<div class="portlet-body">
					<!-- BEGIN Stack -->
					<div class="vstack gap-3">
						<!-- BEGIN Row -->
						<div class="row">
							<label class="col-sm-4 col-lg-3 col-form-label text-sm-end">Basic</label>
							<div class="col-sm-8 col-lg-9">
								<div class="mb-2">
									<button type="button" class="btn btn-primary" data-bs-toggle="toast" data-bs-target="#toast1">
										Click me
									</button>
								</div>
								<p class="mb-0">Click the button below to show a toast in the lower right corner.</p>
							</div>
						</div>
						<!-- END Row -->

						<!-- BEGIN Row -->
						<div class="row">
							<label class="col-sm-4 col-lg-3 col-form-label text-sm-end">More content</label>
							<div class="col-sm-8 col-lg-9">
								<div class="mb-2">
									<button type="button" class="btn btn-primary" data-bs-toggle="toast" data-bs-target="#toast2">
										Click me
									</button>
								</div>
								<p class="mb-0">Use <code>.toast-header</code> to add toast header.</p>
							</div>
						</div>
						<!-- END Row -->

						<!-- BEGIN Row -->
						<div class="row">
							<label class="col-sm-4 col-lg-3 col-form-label text-sm-end">Placements</label>
							<div class="col-sm-8 col-lg-9">
								<div class="hstack gap-2 mb-2">
									<button type="button" class="btn btn-primary" data-bs-toggle="toast" data-bs-target="#toast3">
										Top end
									</button>
									<button type="button" class="btn btn-primary" data-bs-toggle="toast" data-bs-target="#toast4">
										Middle center
									</button>
								</div>
								<p>Put the <strong>Positioning utilities</strong> into <code>.toast-container</code>.</p>
							</div>
						</div>
						<!-- END Row -->
					</div>
					<!-- END Stack -->
				</div>
			</div>
			<!-- END Portlet -->
		</div>
	</div>
{% endblock %}

{% block offcanvas %}
	<!-- BEGIN Toast Container -->
	<div class="toast-container position-fixed bottom-0 end-0 p-5">
		<!-- BEGIN Toast -->
		<div id="toast1" class="toast">
			<div class="toast-body">Hello, world! This is a toast message.</div>
		</div>
		<!-- END Toast -->

		<!-- BEGIN Toast -->
		<div id="toast2" class="toast">
			<div class="toast-header">
				<strong class="me-auto">Toast Title</strong>
				<small>11 mins ago</small>
				<button type="button" class="btn-close" data-bs-dismiss="toast"></button>
			</div>
			<div class="toast-body">Hello, world! This is a toast message.</div>
		</div>
		<!-- END Toast -->
	</div>
	<!-- END Toast Container -->

	<!-- BEGIN Toast Container -->
	<div class="toast-container position-fixed top-0 end-0 p-5">
		<!-- BEGIN Toast -->
		<div id="toast3" class="toast">
			<div class="toast-header">
				<strong class="me-auto">Toast Title</strong>
				<small>11 mins ago</small>
				<button type="button" class="btn-close" data-bs-dismiss="toast"></button>
			</div>
			<div class="toast-body">Hello, world! This is a toast message.</div>
		</div>
		<!-- END Toast -->
	</div>
	<!-- END Toast Container -->

	<!-- BEGIN Toast Container -->
	<div class="toast-container position-fixed top-50 start-50 translate-middle p-5">
		<!-- BEGIN Toast -->
		<div id="toast4" class="toast">
			<div class="toast-header">
				<strong class="me-auto">Toast Title</strong>
				<small>11 mins ago</small>
				<button type="button" class="btn-close" data-bs-dismiss="toast"></button>
			</div>
			<div class="toast-body">Hello, world! This is a toast message.</div>
		</div>
		<!-- END Toast -->
	</div>
	<!-- END Toast Container -->
{% endblock %}
