{% extends "components/template.njk" %}
{% set page_title = "Datatables Footer" %}
{% set page_id = "datatables.basic.footer" %}
<!-- prettier-ignore-start -->
{% set breadcrumb = [
  { text: "Dashboard", link: "/", icon: '<i data-feather="home"></i>' },
  { text: "Datatables" },
  { text: "Basic" },
  { text: "Footer", link: "/datatables/basic/footer.html" }
] %}
<!-- prettier-ignore-end -->

{% block main_script %}
	<script
		type="module"
		src="/src/app/pages/datatables/basic/footer.js"
	></script>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<!-- BEGIN Portlet -->
			<div class="portlet">
				<div class="portlet-header portlet-header-bordered">
					<h3 class="portlet-title">Datatables footer</h3>
				</div>
				<div class="portlet-body">
					<!-- BEGIN Datatables -->
					<table
						id="datatables-1"
						class="table table-bordered table-striped table-hover"
					>
						<thead>
							<tr>
								<th>ID</th>
								<th>Card ID</th>
								<th>Name</th>
								<th>Position</th>
								<th>Office</th>
								<th>Age</th>
								<th>Start date</th>
								<th>Salary</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>ID</th>
								<th>Card ID</th>
								<th>Name</th>
								<th>Position</th>
								<th>Office</th>
								<th>Age</th>
								<th>Start date</th>
								<th>Salary</th>
							</tr>
						</tfoot>
					</table>
					<!-- END Datatables -->
				</div>
			</div>
			<!-- END Portlet -->
		</div>
	</div>
{% endblock %}
