{
	"semi": false,
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 80,
	"endOfLine": "lf",
	"plugins": ["prettier-plugin-jinja-template"],
	"overrides": [
		{
			"files": ["*.js", "*.cjs", "*.mjs"],
			"options": {
				"singleQuote": true
			}
		},
		{
			"files": ["*.scss", "*.sass"],
			"options": {
				"singleQuote": false
			}
		},
		{
			"files": ["*.njk"],
			"options": {
				"printWidth": 120,
				"parser": "jinja-template"
			}
		}
	]
}
