{
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 120,
	"plugins": ["prettier-plugin-jinja-template"],
	"overrides": [
		{
			"files": ["*.njk"],
			"options": {
				"parser": "jinja-template"
			}
		}
	]
}
