{
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-jinja-template"],
  "overrides": [
    {
      "files": ["*.{js,ts,cjs,mjs}"],
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": ["*.{sass,scss}"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.njk"],
      "options": {
        "printWidth": 120,
        "parser": "jinja-template"
      }
    }
  ]
}
