node_modules
dist
dist-ssr

# Editor directories and files
.vscode/*

# configuration files
.eslintrc.json
postcss.config.js
vite.config.js
package.json
package-lock.json
pnpm-lock.yaml

# source codes
_variables.scss
src/build/vendors/**/scripts/*.js