$datatables-blocker-border-width:          $table-border-width !default;
$datatables-blocker-border-color:          $table-border-color !default;

$datatables-side-blocker-bg:               $table-bg !default;
$datatables-side-blocker-spacer:           $spacer * .5 !default;
