.apexcharts-yaxistooltip {
	// Class to show tooltip
	&.apexcharts-active {
		opacity: 1;
	}

	// Tooltip arrow
	&:after,
	&:before {
		content: "";
		position: absolute;
		top: 50%;
		height: 0;
		width: 0;
		border-color: transparent;
		border-style: solid;
		pointer-events: none;
	}

	&:after {
		border-width: $apexchart-tooltip-arrow-height;
		margin-top: -$apexchart-tooltip-arrow-height;
	}

	&:before {
		border-width: calc(
			#{$apexchart-tooltip-arrow-height} + #{$apexchart-tooltip-border-width}
		);
		margin-top: calc(
			(#{$apexchart-tooltip-arrow-height} + #{$apexchart-tooltip-border-width}) *
				-1
		);
	}
}

/* rtl:begin:ignore */
// Tooltip arrow positioning
.apexcharts-yaxistooltip-left {
	&:after,
	&:before {
		left: 100%;
	}

	&:after {
		border-left-color: $apexchart-tooltip-arrow-color;
	}

	&:before {
		border-left-color: $apexchart-tooltip-arrow-outer-color;
	}
}

.apexcharts-yaxistooltip-right {
	&:after,
	&:before {
		right: 100%;
	}

	&:after {
		border-right-color: $apexchart-tooltip-arrow-color;
	}

	&:before {
		border-right-color: $apexchart-tooltip-arrow-outer-color;
	}
}

// Class to hide tooltip when unused
.apexcharts-yaxistooltip-hidden {
	display: none;
}
/* rtl:end:ignore */
