.blockUI {
	z-index: 9999 !important;

	// Backdrop overlay
	&.blockOverlay {
		cursor: wait;
		background: $blockui-backdrop-bg;
		opacity: $blockui-backdrop-opacity;
	}

	// Message box
	&.blockMsg {
		display: flex;
		flex-direction: row;
		align-items: center;
		color: $blockui-message-color;
		background: $blockui-message-bg;
		@include font-size($blockui-message-font-size);
		font-weight: $blockui-message-font-weight;
		padding: $blockui-message-padding-y $blockui-message-padding-x;
		border: $blockui-message-border-width solid $blockui-message-border-color;
		@include border-radius($blockui-message-border-radius);

		.blockTitle {
			font-size: inherit;
			font-weight: inherit;
			color: inherit;
			margin: 0;
			padding: 0;
		}

		[class*="spinner"] {
			margin-right: $blockui-spinner-spacer; // Add space between spinner and message
		}

		// Position message to center of page
		&.blockPage {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
