$datatables-autofill-handle-color:                   var(--#{$prefix}primary) !default;
$datatables-autofill-handle-focus-color:             var(--#{$prefix}danger) !default;
$datatables-autofill-handle-size:                    .75rem !default;

$datatables-autofill-select-color:                   $datatables-autofill-handle-color !default;
$datatables-autofill-select-width:                   2px !default;

$datatables-autofill-input-spacer:                   $spacer * .5 !default;
$datatables-autofill-input-width:                    5rem !default;

$datatables-autofill-close-dimension:                1.5rem !default;
$datatables-autofill-close-spacer:                   $spacer !default;
$datatables-autofill-close-color:                    $btn-close-color !default;
$datatables-autofill-close-font-family:              $font-family-monospace !default;
$datatables-autofill-close-font-size:                1.6rem !default;
$datatables-autofill-close-font-weight:              $font-weight-bold !default;
$datatables-autofill-close-line-height:              1.4rem !default;
$datatables-autofill-close-padding-y:                $btn-close-padding-y !default;
$datatables-autofill-close-padding-x:                $btn-close-padding-x !default;

$datatables-autofill-list-width:                     45rem !default;
$datatables-autofill-list-bg:                        $modal-content-bg !default;
$datatables-autofill-list-padding:                   $modal-inner-padding !default;
$datatables-autofill-list-border-width:              $modal-content-border-width !default;
$datatables-autofill-list-border-color:              $modal-content-border-color !default;
$datatables-autofill-list-border-radius:             $modal-content-border-radius !default;
$datatables-autofill-list-backdrop-bg:               $modal-backdrop-bg !default;
$datatables-autofill-list-backdrop-opacity:          $modal-backdrop-opacity !default;

$datatables-autofill-list-item-min-height:           3.5rem !default;
$datatables-autofill-list-item-color:                var(--#{$prefix}body-color) !default;
$datatables-autofill-list-item-bg:                   $component-bg !default;
$datatables-autofill-list-item-hover-bg:             $component-hover-bg !default;
$datatables-autofill-list-item-hover-color:          $component-hover-color !default;
$datatables-autofill-list-item-font-size:            $font-size-base !default;
$datatables-autofill-list-item-font-weight:          $font-weight-medium !default;
$datatables-autofill-list-item-padding-x:            $spacer !default;
$datatables-autofill-list-item-padding-y:            $spacer * .75 !default;
$datatables-autofill-list-item-border-width:         var(--#{$prefix}border-width) !default;
$datatables-autofill-list-item-border-color:         var(--#{$prefix}border-color) !default;