$datatable-order-pointer-width:               var(--#{$prefix}border-width) !default;
$datatable-order-pointer-color:               $primary !default;
$datatable-order-drag-opacity:                $component-disabled-opacity !default;