// List of data that was collapsed
.dataTable > tbody > .child {
	padding: $datatables-responsive-list-padding-y
		$datatables-responsive-list-padding-x;

	&:hover {
		background: transparent !important;
	}

	// Styling list of data on detail
	.dtr-details {
		display: inline-block;
		list-style-type: none;
		margin: 0;
		padding: 0;

		> li {
			border-bottom: $datatables-responsive-list-border-width solid
				$datatables-responsive-list-border-color;

			&:not(:first-child) {
				padding-top: $datatables-responsive-list-spacer;
			}

			&:not(:last-child) {
				padding-bottom: $datatables-responsive-list-spacer;
			}

			&:last-child {
				border-bottom: none;
			}
		}
	}

	.dtr-title {
		display: inline-block;
		min-width: $datatables-responsive-list-title-min-width;
		color: $datatables-responsive-list-title-color;
		@include font-size($datatables-responsive-list-title-font-size);
		font-weight: $datatables-responsive-list-title-font-weight;
	}

	.dtr-data {
		display: inline-block;
		color: $datatables-responsive-list-data-color;
		@include font-size($datatables-responsive-list-data-font-size);
		font-weight: $datatables-responsive-list-data-font-weight;
	}
}
