$datatables-order-pointer-width:               var(--#{$prefix}border-width) !default;
$datatables-order-pointer-color:               var(--#{$prefix}primary) !default;
$datatables-order-drag-opacity:                $component-disabled-opacity !default;