{% extends "components/template.njk" %}
<!-- prettier-ignore-start -->
{% set page_title = "Fixed Header Extension" %}
{% set page_id = "datatables.extension.fixed-header" %}
{% set breadcrumb = [
  { text: "Dashboard", link: "/", icon: '<i data-feather="home"></i>' },
  { text: "Datatables" },
  { text: "Extension" },
  { text: "Fixed Header", link: "/datatables/extension/fixed-header.html" }
] %}
<!-- prettier-ignore-end -->

{% block main_script %}
	<script type="module" src="/src/app/pages/datatables/extension/fixed-header.js"></script>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<!-- BEGIN Portlet -->
			<div class="portlet">
				<div class="portlet-header portlet-header-bordered">
					<h3 class="portlet-title">Datatables fixed header extension</h3>
				</div>
				<div class="portlet-body">
					<p class="mb-0">
						When displaying tables with a particularly large amount of data shown on each page, it can be useful to have
						the table's header and/or footer fixed to the top or bottom of the scrolling window. This lets your users
						quickly determine what each column refers to rather than needing to scroll back to the top of the table.
					</p>
				</div>
			</div>
			<!-- END Portlet -->

			<!-- BEGIN Portlet -->
			<div class="portlet">
				<div class="portlet-header portlet-header-bordered">
					<h3 class="portlet-title">Basic initialisation</h3>
				</div>
				<div class="portlet-body">
					<p>
						<strong>Fixed header</strong> can be initialised on a Datatables by using the
						<code>fixedheader</code> option in the Datatables options object.
					</p>
					<hr />

					<!-- BEGIN Datatables -->
					<table id="datatables-1" class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th>ID</th>
								<th>Card ID</th>
								<th>Name</th>
								<th>Position</th>
								<th>Office</th>
								<th>Age</th>
								<th>Start date</th>
								<th>Salary</th>
							</tr>
						</thead>
					</table>
					<!-- END Datatables -->
				</div>
			</div>
			<!-- END Portlet -->

			<!-- BEGIN Portlet -->
			<div class="portlet">
				<div class="portlet-header portlet-header-bordered">
					<h3 class="portlet-title">Fixed header and footer</h3>
				</div>
				<div class="portlet-body">
					<p>
						<strong>Fixed header</strong> library provides the ability to fix in place the header and footer of the
						table. These are controlled by the options <code>fixedHeader.header</code> and
						<code>fixedHeader.footer</code>. Either can be optionally enabled, or as is the case in this example both
						enabled.
					</p>
					<hr />

					<!-- BEGIN Datatables -->
					<table id="datatables-2" class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th>ID</th>
								<th>Card ID</th>
								<th>Name</th>
								<th>Position</th>
								<th>Office</th>
								<th>Age</th>
								<th>Start date</th>
								<th>Salary</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>ID</th>
								<th>Card ID</th>
								<th>Name</th>
								<th>Position</th>
								<th>Office</th>
								<th>Age</th>
								<th>Start date</th>
								<th>Salary</th>
							</tr>
						</tfoot>
					</table>
					<!-- END Datatables -->
				</div>
			</div>
			<!-- END Portlet -->
		</div>
	</div>
{% endblock %}
