{% extends "components/template.njk" %}
<!-- prettier-ignore-start -->
{% set page_title = "Key Table Extension" %}
{% set page_id = "datatables.extension.key-table" %}
{% set breadcrumb = [
  { text: "Dashboard", link: "/", icon: '<i data-feather="home"></i>' },
  { text: "Datatables" },
  { text: "Extension" },
  { text: "Key Table", link: "/datatables/extension/key-table.html" }
] %}
<!-- prettier-ignore-end -->

{% block main_script %}
	<script type="module" src="/src/app/pages/datatables/extension/key-table.js"></script>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-12">
			{# BEGIN Portlet #}
			<div class="portlet">
				<div class="portlet-header portlet-header-bordered">
					<h3 class="portlet-title">Datatables key table extension</h3>
				</div>
				<div class="portlet-body">
					<p>
						Spreadsheet navigation of a Datatables makes for an attractive and rapid data input interface, and also a
						very familiar one for those users experienced in Excel, OpenOffice or similar, who are now transitioning to
						web based apps. <strong>Key table</strong> adds keyboard navigation to Datatables, operating in exactly the
						same way as traditional spreadsheet applications.
					</p>
					<p>
						<strong>Key table</strong> can be initialised on a Datatables by using the <code>keys</code> option in the
						Datatables options object.
					</p>
					<hr />

					{# BEGIN Datatables #}
					<table id="datatables-1" class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th>ID</th>
								<th>Card ID</th>
								<th>Name</th>
								<th>Position</th>
								<th>Office</th>
								<th>Age</th>
								<th>Start date</th>
								<th>Salary</th>
							</tr>
						</thead>
					</table>
					{# END Datatables #}
				</div>
			</div>
			{# END Portlet #}
		</div>
	</div>
{% endblock %}
