<!-- BEGIN Portlet -->
<div class="portlet">
	<div class="portlet-body">
		<!-- BEGIN Widget -->
		<div class="widget10-item p-0">
			<div class="widget10-content">
				<h2 class="widget10-title">62,244</h2>
				<span class="widget10-subtitle">Order received</span>
			</div>
			<div class="widget10-addon">
				<!-- BEGIN Avatar -->
				<div class="avatar avatar-subtle-success avatar-circle widget10-avatar">
					<div class="avatar-display">
						<i class="fa fa-boxes"></i>
					</div>
				</div>
				<!-- END Avatar -->
			</div>
		</div>
		<!-- END Widget -->
	</div>

	<!-- BEGIN Chart -->
	<div id="widget-chart-7b" class="widget11 widget11-bottom"></div>
	<!-- END Chart -->
</div>
<!-- END Portlet -->

<!-- BEGIN Script -->
<script type="module" src="/src/app/components/widgets/widget-29.ts"></script>
<!-- END Script -->
