<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-body">

    <!-- BEGIN Widget -->
    <div class="widget10-item p-0">
      <div class="widget10-content">
        <h2 class="widget10-title">$82,120</h2>
        <span class="widget10-subtitle">Total revenue</span>
      </div>
      <div class="widget10-addon">

        <!-- BEGIN Avatar -->
        <div class="avatar avatar-label-primary avatar-circle widget10-avatar">
          <div class="avatar-display">
            <i class="fa fa-money-bill-trend-up"></i>
          </div>
        </div>
        <!-- END Avatar -->

      </div>
    </div>
    <!-- END Widget -->

  </div>

  <!-- BEGIN Chart -->
  <div class="widget11 widget11-bottom widget-chart-7" data-chart-color="#29b6f6" data-chart-label="Revenue" data-chart-currency="true" data-chart-series="5400, 3800, 6600, 2800, 9800, 5800"></div>
  <!-- END Chart -->

</div>
<!-- END Portlet -->
