<!-- BEGIN Portlet -->
<div class="portlet widget1">
	<div class="widget1-display widget1-display-top widget1-display-sm justify-content-between text-bg-primary">
		<div class="widget1-group">
			<div class="widget1-addon">
				<button class="btn btn-subtle-light btn-wider rounded-pill">2019</button>
			</div>
		</div>
		<div class="widget1-group">
			<h3 class="widget1-title">Private profile</h3>
		</div>
	</div>
	<div class="widget1-body">
		<!-- BEGIN Rich List -->
		<div class="richlist-item p-0 mb-3">
			<div class="richlist-prepend">
				<!-- BEGIN Avatar -->
				<div class="avatar avatar-circle">
					<div class="avatar-display">
						<img src="/images/avatar/avatar-6.webp" alt="Avatar image" />
					</div>
				</div>
				<!-- END Avatar -->
			</div>
			<div class="richlist-content">
				<h4 class="richlist-title">Jackson Bradshaw</h4>
				<span class="richlist-subtitle">Office Manager, San Francisco</span>
			</div>
			<div class="richlist-append richlist-append d-flex flex-column">
				<h3 class="fw-semibold text-level-2 mb-0">22</h3>
				<small class="text-muted">Comments</small>
			</div>
		</div>
		<!-- END Rich List -->

		<p class="text-level-1 text-justify">
			Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
			veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
		<a href="#" class="btn btn-subtle-primary btn-widest rounded-pill">See more</a>
	</div>
</div>
<!-- END Portlet -->
