<!-- BEGIN Portlet -->
<div class="portlet portlet-primary">
  <div class="portlet-body">
    <h4 class="text-white">Page views</h4>
    <span>Check chart below</span>

    <!-- BEGIN Chart -->
    <div
      id="widget-chart-9b"
      data-chart-color="#fff"
      data-chart-label="Visit"
      data-chart-series="320, 450, 360, 560, 440, 480"
    ></div>
    <!-- END Chart -->
  </div>
</div>
<!-- END Portlet -->

<!-- BEGIN Script -->
<script type="module" src="/src/app/components/widgets/widget-32.ts"></script>
<!-- END Script -->
