<!-- BEGIN Portlet -->
<div class="portlet">
	<div class="portlet-body">
		<h4 class="text-primary">New users</h4>
		<span class="text-muted">Last 3 months</span>

		<!-- BEGIN Chart -->
		<div id="widget-chart-9a"></div>
		<!-- END Chart -->
	</div>
</div>
<!-- END Portlet -->

<!-- BEGIN Script -->
<script type="module">
	import { initChart9 } from "@/app/widgets/chart-9"

	const chartInstance = initChart9(document.querySelector("#widget-chart-9a"), "#29b6f6", [
		{
			name: "Users",
			data: [400, 640, 520, 760, 640, 980],
		},
	])

	chartInstance.render()
</script>
<!-- END Script -->
