<!-- BEGIN Portlet -->
<div class="portlet">
	<div class="portlet-header portlet-header-bordered">
		<div class="portlet-icon">
			<i class="fa fa-person"></i>
		</div>
		<h3 class="portlet-title">Employee performance</h3>
		<div class="portlet-addon">
			<!-- BEGIN Navigation -->
			<div class="nav portlet-nav" id="employee-tab">
				<a class="nav-item nav-link active" id="employee-month-tab" data-bs-toggle="tab" href="#employee-month"
					>Last month</a
				>
				<a class="nav-item nav-link" id="employee-all-tab" data-bs-toggle="tab" href="#employee-all">All time</a>
			</div>
			<!-- END Navigation -->
		</div>
	</div>
	<div class="portlet-body">
		<!-- BEGIN Tab -->
		<div class="tab-content p-0" id="employee-tabContent">
			<div class="tab-pane fade show active" id="employee-month">
				<!-- BEGIN Table -->
				<div class="table-responsive">
					<table class="table table-bordereless table-hover text-nowrap">
						<thead>
							<tr>
								<th>Name</th>
								<th>Office</th>
								<th>Performance</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<!-- BEGIN Rich List -->
									<div class="rich-list-item p-0">
										<div class="rich-list-content">
											<h4 class="rich-list-title">Garrett Winters</h4>
											<span class="rich-list-subtitle">Accountant</span>
										</div>
									</div>
									<!-- END Rich List -->
								</td>
								<td>Tokyo</td>
								<td style="max-width: 8rem">
									<!-- BEGIN Chart -->
									<div
										class="widget-chart-3"
										data-chart-color="#29b6f6"
										data-chart-label="Garrett"
										data-chart-value="64, 40, 76, 62, 98, 64"
									></div>
									<!-- END Chart -->
								</td>
								<td>
									<span class="badge badge-label-info rounded-pill">Excelent</span>
								</td>
							</tr>
							<tr>
								<td>
									<!-- BEGIN Rich List -->
									<div class="rich-list-item p-0">
										<div class="rich-list-content">
											<h4 class="rich-list-title">Rhona Davidson</h4>
											<span class="rich-list-subtitle">SEO Specialist</span>
										</div>
									</div>
									<!-- END Rich List -->
								</td>
								<td>Edinburgh</td>
								<td style="max-width: 8rem">
									<!-- BEGIN Chart -->
									<div
										class="widget-chart-3"
										data-chart-color="#ab47bc"
										data-chart-label="Rhona"
										data-chart-value="23, 50, 26, 54, 38, 45"
									></div>
									<!-- END Chart -->
								</td>
								<td>
									<span class="badge badge-label-success rounded-pill">Good</span>
								</td>
							</tr>
							<tr>
								<td>
									<!-- BEGIN Rich List -->
									<div class="rich-list-item p-0">
										<div class="rich-list-content">
											<h4 class="rich-list-title">Airi Satou</h4>
											<span class="rich-list-subtitle">Senior Developer</span>
										</div>
									</div>
									<!-- END Rich List -->
								</td>
								<td>London</td>
								<td style="max-width: 8rem">
									<!-- BEGIN Chart -->
									<div
										class="widget-chart-3"
										data-chart-color="#ef5350"
										data-chart-label="Airi"
										data-chart-value="98, 56, 76, 54, 34, 45"
									></div>
									<!-- END Chart -->
								</td>
								<td>
									<span class="badge badge-label-danger rounded-pill">Bad</span>
								</td>
							</tr>
							<tr>
								<td>
									<!-- BEGIN Rich List -->
									<div class="rich-list-item p-0">
										<div class="rich-list-content">
											<h4 class="rich-list-title">Brielle Williamson</h4>
											<span class="rich-list-subtitle">System Architect</span>
										</div>
									</div>
									<!-- END Rich List -->
								</td>
								<td>London</td>
								<td style="max-width: 8rem">
									<!-- BEGIN Chart -->
									<div
										class="widget-chart-3"
										data-chart-color="#ffa726"
										data-chart-label="Brielle"
										data-chart-value="65, 86, 23, 54, 90, 45"
									></div>
									<!-- END Chart -->
								</td>
								<td>
									<span class="badge badge-label-primary rounded-pill">Standard</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- END Table -->
			</div>
			<div class="tab-pane fade" id="employee-all">
				<!-- BEGIN Table -->
				<div class="table-responsive">
					<table class="table table-bordereless table-hover text-nowrap">
						<thead>
							<tr>
								<th>Name</th>
								<th>Office</th>
								<th>Performance</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<!-- BEGIN Rich List -->
									<div class="rich-list-item p-0">
										<div class="rich-list-content">
											<h4 class="rich-list-title">Rhona Davidson</h4>
											<span class="rich-list-subtitle">SEO Specialist</span>
										</div>
									</div>
									<!-- END Rich List -->
								</td>
								<td>Edinburgh</td>
								<td style="max-width: 8rem">
									<!-- BEGIN Chart -->
									<div
										class="widget-chart-3"
										data-chart-color="#ab47bc"
										data-chart-label="Rhona"
										data-chart-value="23, 50, 26, 54, 38, 45"
									></div>
									<!-- END Chart -->
								</td>
								<td>
									<span class="badge badge-label-success rounded-pill">Good</span>
								</td>
							</tr>
							<tr>
								<td>
									<!-- BEGIN Rich List -->
									<div class="rich-list-item p-0">
										<div class="rich-list-content">
											<h4 class="rich-list-title">Brielle Williamson</h4>
											<span class="rich-list-subtitle">System Architect</span>
										</div>
									</div>
									<!-- END Rich List -->
								</td>
								<td>London</td>
								<td style="max-width: 8rem">
									<!-- BEGIN Chart -->
									<div
										class="widget-chart-3"
										data-chart-color="#ffa726"
										data-chart-label="Brielle"
										data-chart-value="65, 86, 23, 54, 90, 45"
									></div>
									<!-- END Chart -->
								</td>
								<td>
									<span class="badge badge-label-primary rounded-pill">Standard</span>
								</td>
							</tr>
							<tr>
								<td>
									<!-- BEGIN Rich List -->
									<div class="rich-list-item p-0">
										<div class="rich-list-content">
											<h4 class="rich-list-title">Garrett Winters</h4>
											<span class="rich-list-subtitle">Accountant</span>
										</div>
									</div>
									<!-- END Rich List -->
								</td>
								<td>Tokyo</td>
								<td style="max-width: 8rem">
									<!-- BEGIN Chart -->
									<div
										class="widget-chart-3"
										data-chart-color="#29b6f6"
										data-chart-label="Garrett"
										data-chart-value="64, 40, 76, 62, 98, 64"
									></div>
									<!-- END Chart -->
								</td>
								<td>
									<span class="badge badge-label-info rounded-pill">Excelent</span>
								</td>
							</tr>
							<tr>
								<td>
									<!-- BEGIN Rich List -->
									<div class="rich-list-item p-0">
										<div class="rich-list-content">
											<h4 class="rich-list-title">Airi Satou</h4>
											<span class="rich-list-subtitle">Senior Developer</span>
										</div>
									</div>
									<!-- END Rich List -->
								</td>
								<td>London</td>
								<td style="max-width: 8rem">
									<!-- BEGIN Chart -->
									<div
										class="widget-chart-3"
										data-chart-color="#ef5350"
										data-chart-label="Airi"
										data-chart-value="98, 56, 76, 54, 34, 45"
									></div>
									<!-- END Chart -->
								</td>
								<td>
									<span class="badge badge-label-danger rounded-pill">Bad</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- END Table -->
			</div>
		</div>
		<!-- END Tab -->
	</div>
	<div class="portlet-footer pt-0 text-end">
		<button class="btn btn-widest btn-label-primary rounded-pill">View all record</button>
	</div>
</div>
<!-- END Portlet -->

<!-- BEGIN Script -->
<script type="module" src="/src/app/components/widgets/widget-24.js"></script>
<!-- END Script -->
