<!-- BEGIN Portlet -->
<div class="portlet">
	<div class="portlet-body">
		<h4 class="text-primary">New users</h4>
		<span class="text-muted">Last 3 months</span>

		<!-- BEGIN Chart -->
		<div id="widget-chart-9a"></div>
		<!-- END Chart -->
	</div>
</div>
<!-- END Portlet -->

<!-- BEGIN Script -->
<script type="module" src="/src/app/components/widgets/widget-31.js"></script>
<!-- END Script -->
