<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-body">
    <h4 class="text-level-2">Daily Revenue</h4>
    <span class="text-muted">Check each collumn for details</span>

    <!-- BEGIN Chart -->
    <div id="widget-chart-8"></div>
    <!-- END Chart -->
  </div>
</div>
<!-- END Portlet -->

<!-- BEGIN Script -->
<script type="module" src="/src/app/components/widgets/widget-30.ts"></script>
<!-- END Script -->
