<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-body">
    <h4 class="text-primary">New users</h4>
    <span class="text-muted">Last 3 months</span>

    <!-- BEGIN Chart -->
    <div class="widget-chart-9" data-chart-color="#29b6f6" data-chart-label="Users" data-chart-series="400, 640, 520, 760, 640, 980"></div>
    <!-- END Chart -->

  </div>
</div>
<!-- END Portlet -->
