<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-body">

    <!-- BEGIN Widget -->
    <div class="widget10-item p-0">
      <div class="widget10-content">
        <h2 class="widget10-title">62,244</h2>
        <span class="widget10-subtitle">Order received</span>
      </div>
      <div class="widget10-addon">

        <!-- BEGIN Avatar -->
        <div class="avatar avatar-label-success avatar-circle widget10-avatar">
          <div class="avatar-display">
            <i class="fa fa-boxes"></i>
          </div>
        </div>
        <!-- END Avatar -->

      </div>
    </div>
    <!-- END Widget -->

  </div>

  <!-- BEGIN Chart -->
  <div class="widget11 widget11-bottom widget-chart-7" data-chart-color="#66bb6a" data-chart-label="Order" data-chart-currency="false" data-chart-series="4000, 2000, 3600, 2800, 6200, 4000"></div>
  <!-- END Chart -->

</div>
<!-- END Portlet -->
