<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-body">
    <!-- BEGIN Row -->
    <div class="row g-2">
      <div class="col-sm-6">
        <!-- BEGIN Widget -->
        <div class="widget4">
          <div class="widget4-group">
            <div class="widget4-display">
              <h3 class="widget4-subtitle">Transactions completed</h3>
              <h2 class="widget4-highlight">26,272</h2>
            </div>
          </div>
        </div>
        <!-- END Widget -->
      </div>
      <div class="col-sm-6">
        <!-- BEGIN Widget -->
        <div class="widget4">
          <div class="widget4-group">
            <div class="widget4-display">
              <h3 class="widget4-subtitle">Avarage product prive</h3>
              <h2 class="widget4-highlight">$50,24</h2>
            </div>
          </div>
        </div>
        <!-- END Widget -->
      </div>
      <div class="col-sm-6">
        <!-- BEGIN Widget -->
        <div class="widget4">
          <div class="widget4-group">
            <div class="widget4-display">
              <h3 class="widget4-subtitle">New order</h3>
              <h2 class="widget4-highlight">462</h2>
            </div>
          </div>
        </div>
        <!-- END Widget -->
      </div>
      <div class="col-sm-6">
        <!-- BEGIN Widget -->
        <div class="widget4">
          <div class="widget4-group">
            <div class="widget4-display">
              <h2 class="widget4-subtitle">Satisfication rate</h2>
            </div>
            <div class="widget4-addon">
              <h2 class="widget4-subtitle">82%</h2>
            </div>
          </div>

          <!-- BEGIN Progress -->
          <div class="progress">
            <div class="progress-bar bg-primary" style="width: 82%"></div>
          </div>
          <!-- END Progress -->
        </div>
        <!-- END Widget -->
      </div>
    </div>
    <!-- END Row -->
  </div>
</div>
<!-- END Portlet -->
