<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-body">

    <!-- BEGIN Widget -->
    <div class="widget4">
      <div class="widget4-group">
        <div class="widget4-display">
          <h3 class="widget4-title">Orders completed</h3>
          <h6 class="widget4-subtitle">In progress orders</h6>
        </div>
        <div class="widget4-addon">
          <h2 class="widget4-highlight text-info">632</h2>
        </div>
      </div>

      <!-- BEGIN Progress -->
      <div class="progress progress-sm">
        <div class="progress-bar bg-info" style="width: 84%"></div>
      </div>
      <!-- END Progress -->

      <div class="widget4-group">
        <div class="widget4-display">
          <h6 class="widget4-subtitle">Change</h6>
        </div>
        <div class="widget4-addon">
          <span class="text-muted">84%</span>
        </div>
      </div>
    </div>
    <!-- END Widget -->

    <hr>

    <!-- BEGIN Widget -->
    <div class="widget4">
      <div class="widget4-group">
        <div class="widget4-display">
          <h3 class="widget4-title">Users acquisition</h3>
          <h6 class="widget4-subtitle">Monthly user registered</h6>
        </div>
        <div class="widget4-addon">
          <h2 class="widget4-highlight text-success">138</h2>
        </div>
      </div>

      <!-- BEGIN Progress -->
      <div class="progress progress-sm">
        <div class="progress-bar bg-danger" style="width: 20%"></div>
      </div>
      <!-- END Progress -->

      <div class="widget4-group">
        <div class="widget4-display">
          <h6 class="widget4-subtitle">Change</h6>
        </div>
        <div class="widget4-addon">
          <span class="text-muted">20%</span>
        </div>
      </div>
    </div>
    <!-- END Widget -->

  </div>
</div>
<!-- END Portlet -->
