<!-- BEGIN Portlet -->
<div class="portlet widget1">
  <div class="widget1-display widget1-display-top widget1-display-lg text-bg-primary">
    <div class="widget1-group">
      <h3 class="widget1-title">Revenue summary</h3>
      <div class="widget1-addon">
        <!-- BEGIN Dropdown -->
        <div class="dropdown">
          <button class="btn btn-subtle-light btn-wider rounded-pill dropdown-toggle" data-bs-toggle="dropdown">
            More
          </button>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
            <a class="dropdown-item" href="#">
              <div class="dropdown-icon">
                <i class="fa fa-poll"></i>
              </div>
              <span class="dropdown-content">Report</span>
            </a>
            <a class="dropdown-item" href="#">
              <div class="dropdown-icon">
                <i class="fa fa-chart-pie"></i>
              </div>
              <span class="dropdown-content">Charts</span>
            </a>
            <a class="dropdown-item" href="#">
              <div class="dropdown-icon">
                <i class="fa fa-chart-line"></i>
              </div>
              <span class="dropdown-content">Statistics</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <div class="dropdown-icon">
                <i class="fa fa-cog"></i>
              </div>
              <span class="dropdown-content">Settings</span>
            </a>
          </div>
        </div>
        <!-- END Dropdown -->
      </div>
    </div>
    <div class="widget1-dialog">
      <div class="widget1-dialog-content">
        <h1 class="display-3 text-white">$627,212</h1>
      </div>
    </div>
    <div class="widget1-offset">
      <button class="btn btn-light btn-lg btn-widest btn-tallest rounded-pill">All Earnings</button>
    </div>
  </div>
  <div class="widget1-body pt-5">
    <!-- BEGIN Navigation -->
    <div class="nav nav-lg nav-justified widget2 mb-4" id="inc-tab">
      <a class="nav-item nav-link rounded-pill active" id="inc-mei-tab" data-bs-toggle="tab" href="#inc-mei">Mei</a>
      <a class="nav-item nav-link rounded-pill" id="inc-june-tab" data-bs-toggle="tab" href="#inc-june">June</a>
      <a class="nav-item nav-link rounded-pill" id="inc-july-tab" data-bs-toggle="tab" href="#inc-july">July</a>
      <a class="nav-item nav-link rounded-pill" id="inc-august-tab" data-bs-toggle="tab" href="#inc-august">August</a>
    </div>
    <!-- END Navigation -->

    <!-- BEGIN Tab -->
    <div class="tab-content p-0" id="inc-tabContent">
      <div class="tab-pane fade show active" id="inc-mei">
        <!-- BEGIN Portlet -->
        <div class="portlet mb-0">
          <!-- BEGIN Rich List -->
          <div class="richlist richlist-flush">
            <div class="richlist-item">
              <div class="richlist-content">
                <h4 class="richlist-title">$12,284</h4>
                <span class="richlist-subtitle">Production taxes</span>
              </div>
            </div>
            <div class="richlist-item">
              <div class="richlist-content">
                <h4 class="richlist-title">$161,211</h4>
                <span class="richlist-subtitle">Avarage profit</span>
              </div>
            </div>
            <div class="richlist-item">
              <div class="richlist-content">
                <h4 class="richlist-title">$120,123</h4>
                <span class="richlist-subtitle">profit after taxes</span>
              </div>
            </div>
          </div>
          <!-- END Rich List -->
        </div>
        <!-- END Portlet -->
      </div>
      <div class="tab-pane fade" id="inc-june">
        <!-- BEGIN Portlet -->
        <div class="portlet mb-0">
          <!-- BEGIN Rich List -->
          <div class="richlist richlist-flush">
            <div class="richlist-item">
              <div class="richlist-content">
                <h4 class="richlist-title">$13,623</h4>
                <span class="richlist-subtitle">Production taxes</span>
              </div>
            </div>
            <div class="richlist-item">
              <div class="richlist-content">
                <h4 class="richlist-title">$272,812</h4>
                <span class="richlist-subtitle">Avarage profit</span>
              </div>
            </div>
            <div class="richlist-item">
              <div class="richlist-content">
                <h4 class="richlist-title">$212,812</h4>
                <span class="richlist-subtitle">profit after taxes</span>
              </div>
            </div>
          </div>
          <!-- END Rich List -->
        </div>
        <!-- END Portlet -->
      </div>
      <div class="tab-pane fade" id="inc-july">
        <!-- BEGIN Portlet -->
        <div class="portlet mb-0">
          <!-- BEGIN Rich List -->
          <div class="richlist richlist-flush">
            <div class="richlist-item">
              <div class="richlist-content">
                <h4 class="richlist-title">$3,150</h4>
                <span class="richlist-subtitle">Production taxes</span>
              </div>
            </div>
            <div class="richlist-item">
              <div class="richlist-content">
                <h4 class="richlist-title">$124,122</h4>
                <span class="richlist-subtitle">Avarage profit</span>
              </div>
            </div>
            <div class="richlist-item">
              <div class="richlist-content">
                <h4 class="richlist-title">$120,821</h4>
                <span class="richlist-subtitle">profit after taxes</span>
              </div>
            </div>
          </div>
          <!-- END Rich List -->
        </div>
        <!-- END Portlet -->
      </div>
      <div class="tab-pane fade" id="inc-august">
        <!-- BEGIN Portlet -->
        <div class="portlet mb-0">
          <!-- BEGIN Rich List -->
          <div class="richlist richlist-flush">
            <div class="richlist-item">
              <div class="richlist-content">
                <h4 class="richlist-title">$6,650</h4>
                <span class="richlist-subtitle">Production taxes</span>
              </div>
            </div>
            <div class="richlist-item">
              <div class="richlist-content">
                <h4 class="richlist-title">$36,203</h4>
                <span class="richlist-subtitle">Avarage profit</span>
              </div>
            </div>
            <div class="richlist-item">
              <div class="richlist-content">
                <h4 class="richlist-title">$12,128</h4>
                <span class="richlist-subtitle">profit after taxes</span>
              </div>
            </div>
          </div>
          <!-- END Rich List -->
        </div>
        <!-- END Portlet -->
      </div>
    </div>
    <!-- END Tab -->
  </div>
</div>
<!-- BEGIN Portlet -->
