<!-- BEGIN Portlet -->
<div class="portlet widget1">
	<div class="widget1-display text-bg-primary">
		<div class="widget1-group">
			<h3 class="widget1-title">Last feed</h3>
			<div class="widget1-addon">
				<!-- BEGIN Dropdown -->
				<div class="dropdown">
					<button class="btn btn-subtle-light btn-icon" data-bs-toggle="dropdown">
						<i class="fa fa-ellipsis-h"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
						<a class="dropdown-item" href="#">
							<div class="dropdown-icon">
								<i class="fa fa-poll"></i>
							</div>
							<span class="dropdown-content">Report</span>
						</a>
						<a class="dropdown-item" href="#">
							<div class="dropdown-icon">
								<i class="fa fa-calendar-alt"></i>
							</div>
							<span class="dropdown-content">Event</span>
						</a>
						<a class="dropdown-item" href="#">
							<div class="dropdown-icon">
								<i class="fa fa-bell"></i>
							</div>
							<span class="dropdown-content">Notification</span>
						</a>
					</div>
				</div>
				<!-- END Dropdown -->
			</div>
		</div>
		<div class="widget1-dialog">
			<div class="widget1-dialog-content widget1-dialog-content d-flex flex-column align-items-center">
				<h5 class="text-center mb-0">
					Praesent rutrum nibh libero. Quisque vitae arcu ligula. Integer pulvinar ligula dolor.
				</h5>

				<!-- BEGIN Rich List -->
				<div class="richlist-item my-4">
					<div class="richlist-prepend">
						<!-- BEGIN Avatar -->
						<div class="avatar avatar-circle avatar-info">
							<div class="avatar-display">C</div>
						</div>
						<!-- END Avatar -->
					</div>
					<div class="richlist-content">
						<h4 class="richlist-title">Charlie Stone</h4>
						<span class="richlist-subtitle">1 min</span>
					</div>
				</div>
				<!-- END Rich List -->

				<a href="#" class="btn btn-subtle-light btn-widest rounded-pill">All feeds</a>
			</div>
		</div>
	</div>
</div>
<!-- END Portlet -->
