<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-header">
    <div class="portlet-icon">
      <i class="fa fa-plug-circle-bolt"></i>
    </div>
    <h3 class="portlet-title">Employee performance</h3>
  </div>

  <!-- BEGIN Carousel -->
  <div class="carousel carousel-center my-3" id="widget-carousel-nav">
    <div class="carousel-item">
      <!-- BEGIN Widget -->
      <div class="widget6">
        <h5 class="widget6-title">Headquarter</h5>
        <span class="widget6-subtitle">San Francisco</span>
      </div>
      <!-- END Widget -->
    </div>
    <div class="carousel-item">
      <!-- BEGIN Widget -->
      <div class="widget6">
        <h5 class="widget6-title">Engineering Center</h5>
        <span class="widget6-subtitle">Singapore</span>
      </div>
      <!-- END Widget -->
    </div>
    <div class="carousel-item">
      <!-- BEGIN Widget -->
      <div class="widget6">
        <h5 class="widget6-title">Educational Center</h5>
        <span class="widget6-subtitle">Edinburgh</span>
      </div>
      <!-- END Widget -->
    </div>
  </div>
  <!-- END Carousel -->

  <div class="portlet-body">
    <!-- BEGIN Carousel -->
    <div class="carousel" id="widget-carousel">
      <div class="carousel-item">
        <!-- BEGIN Rich List -->
        <div class="richlist">
          <div class="richlist-item">
            <div class="richlist-prepend">
              <!-- BEGIN Avatar -->
              <div class="avatar avatar-circle">
                <div class="avatar-display">
                  <img src="/images/avatar/avatar-1.webp" alt="Avatar image" />
                </div>
              </div>
              <!-- END Avatar -->
            </div>
            <div class="richlist-content">
              <h4 class="richlist-title">Angelica Ramos</h4>
              <span class="richlist-subtitle">Accountant</span>
            </div>
            <div class="richlist-append">
              <span class="badge badge-subtle-success rounded-pill fs-6">Good</span>
            </div>
          </div>
          <div class="richlist-item">
            <div class="richlist-prepend">
              <!-- BEGIN Avatar -->
              <div class="avatar avatar-circle">
                <div class="avatar-display">
                  <img src="/images/avatar/avatar-2.webp" alt="Avatar image" />
                </div>
              </div>
              <!-- END Avatar -->
            </div>
            <div class="richlist-content">
              <h4 class="richlist-title">Airi Satou</h4>
              <span class="richlist-subtitle">Junior Developer</span>
            </div>
            <div class="richlist-append">
              <span class="badge badge-subtle-secondary rounded-pill fs-6">Fired</span>
            </div>
          </div>
          <div class="richlist-item">
            <div class="richlist-prepend">
              <!-- BEGIN Avatar -->
              <div class="avatar avatar-circle">
                <div class="avatar-display">
                  <img src="/images/avatar/avatar-4.webp" alt="Avatar image" />
                </div>
              </div>
              <!-- END Avatar -->
            </div>
            <div class="richlist-content">
              <h4 class="richlist-title">Colleen Hurst</h4>
              <span class="richlist-subtitle">Lead Developer</span>
            </div>
            <div class="richlist-append">
              <span class="badge badge-subtle-info rounded-pill fs-6">Excellent</span>
            </div>
          </div>
          <div class="richlist-item">
            <div class="richlist-prepend">
              <!-- BEGIN Avatar -->
              <div class="avatar avatar-circle">
                <div class="avatar-display">
                  <img src="/images/avatar/avatar-7.webp" alt="Avatar image" />
                </div>
              </div>
              <!-- END Avatar -->
            </div>
            <div class="richlist-content">
              <h4 class="richlist-title">Brielle Williamson</h4>
              <span class="richlist-subtitle">Marketing Expert</span>
            </div>
            <div class="richlist-append">
              <span class="badge badge-subtle-success rounded-pill fs-6">Good</span>
            </div>
          </div>
          <div class="richlist-item">
            <div class="richlist-prepend">
              <!-- BEGIN Avatar -->
              <div class="avatar avatar-circle">
                <div class="avatar-display">
                  <img src="/images/avatar/avatar-2.webp" alt="Avatar image" />
                </div>
              </div>
              <!-- END Avatar -->
            </div>
            <div class="richlist-content">
              <h4 class="richlist-title">Garrett Winters</h4>
              <span class="richlist-subtitle">Business Analyst</span>
            </div>
            <div class="richlist-append">
              <span class="badge badge-subtle-danger rounded-pill fs-6">Bad</span>
            </div>
          </div>
        </div>
        <!-- END Rich List -->
      </div>
      <div class="carousel-item">
        <!-- BEGIN Rich List -->
        <div class="richlist">
          <div class="richlist-item">
            <div class="richlist-prepend">
              <!-- BEGIN Avatar -->
              <div class="avatar avatar-circle">
                <div class="avatar-display">
                  <img src="/images/avatar/avatar-9.webp" alt="Avatar image" />
                </div>
              </div>
              <!-- END Avatar -->
            </div>
            <div class="richlist-content">
              <h4 class="richlist-title">Airi Satou</h4>
              <span class="richlist-subtitle">Office boy</span>
            </div>
            <div class="richlist-append">
              <span class="badge badge-subtle-danger rounded-pill fs-6">Bad</span>
            </div>
          </div>
          <div class="richlist-item">
            <div class="richlist-prepend">
              <!-- BEGIN Avatar -->
              <div class="avatar avatar-circle">
                <div class="avatar-display">
                  <img src="/images/avatar/avatar-3.webp" alt="Avatar image" />
                </div>
              </div>
              <!-- END Avatar -->
            </div>
            <div class="richlist-content">
              <h4 class="richlist-title">Angelica Ramos</h4>
              <span class="richlist-subtitle">Supervisor</span>
            </div>
            <div class="richlist-append">
              <span class="badge badge-subtle-info rounded-pill fs-6">Excellent</span>
            </div>
          </div>
          <div class="richlist-item">
            <div class="richlist-prepend">
              <!-- BEGIN Avatar -->
              <div class="avatar avatar-circle">
                <div class="avatar-display">
                  <img src="/images/avatar/avatar-4.webp" alt="Avatar image" />
                </div>
              </div>
              <!-- END Avatar -->
            </div>
            <div class="richlist-content">
              <h4 class="richlist-title">Garrett Winters</h4>
              <span class="richlist-subtitle">Data Analyst</span>
            </div>
            <div class="richlist-append">
              <span class="badge badge-subtle-danger rounded-pill fs-6">Bad</span>
            </div>
          </div>
          <div class="richlist-item">
            <div class="richlist-prepend">
              <!-- BEGIN Avatar -->
              <div class="avatar avatar-circle">
                <div class="avatar-display">
                  <img src="/images/avatar/avatar-5.webp" alt="Avatar image" />
                </div>
              </div>
              <!-- END Avatar -->
            </div>
            <div class="richlist-content">
              <h4 class="richlist-title">Brielle Williamson</h4>
              <span class="richlist-subtitle">Integration Tester</span>
            </div>
            <div class="richlist-append">
              <span class="badge badge-subtle-success rounded-pill fs-6">Good</span>
            </div>
          </div>
          <div class="richlist-item">
            <div class="richlist-prepend">
              <!-- BEGIN Avatar -->
              <div class="avatar avatar-circle">
                <div class="avatar-display">
                  <img src="/images/avatar/avatar-7.webp" alt="Avatar image" />
                </div>
              </div>
              <!-- END Avatar -->
            </div>
            <div class="richlist-content">
              <h4 class="richlist-title">Colleen Hurst</h4>
              <span class="richlist-subtitle">Sales Manager</span>
            </div>
            <div class="richlist-append">
              <span class="badge badge-subtle-secondary rounded-pill fs-6">Fired</span>
            </div>
          </div>
        </div>
        <!-- END Rich List -->
      </div>
      <div class="carousel-item">
        <!-- BEGIN Rich List -->
        <div class="richlist">
          <div class="richlist-item">
            <div class="richlist-prepend">
              <!-- BEGIN Avatar -->
              <div class="avatar avatar-circle">
                <div class="avatar-display">
                  <img src="/images/avatar/avatar-6.webp" alt="Avatar image" />
                </div>
              </div>
              <!-- END Avatar -->
            </div>
            <div class="richlist-content">
              <h4 class="richlist-title">Airi Satou</h4>
              <span class="richlist-subtitle">Human Resource</span>
            </div>
            <div class="richlist-append">
              <span class="badge badge-subtle-danger rounded-pill fs-6">Bad</span>
            </div>
          </div>
          <div class="richlist-item">
            <div class="richlist-prepend">
              <!-- BEGIN Avatar -->
              <div class="avatar avatar-circle">
                <div class="avatar-display">
                  <img src="/images/avatar/avatar-7.webp" alt="Avatar image" />
                </div>
              </div>
              <!-- END Avatar -->
            </div>
            <div class="richlist-content">
              <h4 class="richlist-title">Colleen Hurst</h4>
              <span class="richlist-subtitle">UX Designer</span>
            </div>
            <div class="richlist-append">
              <span class="badge badge-subtle-info rounded-pill fs-6">Excellent</span>
            </div>
          </div>
          <div class="richlist-item">
            <div class="richlist-prepend">
              <!-- BEGIN Avatar -->
              <div class="avatar avatar-circle">
                <div class="avatar-display">
                  <img src="/images/avatar/avatar-1.webp" alt="Avatar image" />
                </div>
              </div>
              <!-- END Avatar -->
            </div>
            <div class="richlist-content">
              <h4 class="richlist-title">Brielle Williamson</h4>
              <span class="richlist-subtitle">Social Media Specialist</span>
            </div>
            <div class="richlist-append">
              <span class="badge badge-subtle-success rounded-pill fs-6">Good</span>
            </div>
          </div>
          <div class="richlist-item">
            <div class="richlist-prepend">
              <!-- BEGIN Avatar -->
              <div class="avatar avatar-circle">
                <div class="avatar-display">
                  <img src="/images/avatar/avatar-4.webp" alt="Avatar image" />
                </div>
              </div>
              <!-- END Avatar -->
            </div>
            <div class="richlist-content">
              <h4 class="richlist-title">Garrett Winters</h4>
              <span class="richlist-subtitle">Creative Director</span>
            </div>
            <div class="richlist-append">
              <span class="badge badge-subtle-danger rounded-pill fs-6">Bad</span>
            </div>
          </div>
          <div class="richlist-item">
            <div class="richlist-prepend">
              <!-- BEGIN Avatar -->
              <div class="avatar avatar-circle">
                <div class="avatar-display">
                  <img src="/images/avatar/avatar-5.webp" alt="Avatar image" />
                </div>
              </div>
              <!-- END Avatar -->
            </div>
            <div class="richlist-content">
              <h4 class="richlist-title">Angelica Ramos</h4>
              <span class="richlist-subtitle">Managing Director</span>
            </div>
            <div class="richlist-append">
              <span class="badge badge-subtle-success rounded-pill fs-6">Good</span>
            </div>
          </div>
        </div>
        <!-- END Rich List -->
      </div>
    </div>
    <!-- END Carousel -->
  </div>
</div>
<!-- END Portlet -->

<!-- BEGIN Script -->
<script type="module" src="/src/app/components/widgets/widget-10.ts"></script>
<!-- END Script -->
