<!-- BEGIN Portlet -->
<div class="portlet">
  <div class="portlet-header portlet-header-bordered">
    <div class="portlet-icon">
      <i class="fa fa-vault"></i>
    </div>
    <h3 class="portlet-title">Sales information</h3>
  </div>
  <div class="portlet-body widget3">
    <div class="widget3-display">
      <h3 class="widget3-title">$627,212
        <sub class="widget3-subtitle">Total assets</sub>
      </h3>
    </div>

    <!-- BEGIN Row -->
    <div class="row gy-2">
      <div class="col-md-4">

        <!-- BEGIN Widget -->
        <div class="widget4">
          <div class="widget4-group">
            <div class="widget4-addon">
              <h2 class="widget4-highlight">54%</h2>
            </div>
          </div>

          <!-- BEGIN Progress -->
          <div class="progress progress-sm">
            <div class="progress-bar bg-info" style="width: 54%"></div>
          </div>
          <!-- END Progress -->

          <div class="widget4-group">
            <div class="widget4-addon">
              <h2 class="widget4-subtitle">Customer growth</h2>
            </div>
          </div>
        </div>
        <!-- END Widget -->

      </div>
      <div class="col-md-4">

        <!-- BEGIN Widget -->
        <div class="widget4">
          <div class="widget4-group">
            <div class="widget4-addon">
              <h2 class="widget4-highlight">42%</h2>
            </div>
          </div>

          <!-- BEGIN Progress -->
          <div class="progress progress-sm">
            <div class="progress-bar bg-danger" style="width: 42%"></div>
          </div>
          <!-- BEGIN Progress -->

          <div class="widget4-group">
            <div class="widget4-addon">
              <h2 class="widget4-subtitle">Revenue growth</h2>
            </div>
          </div>
        </div>
        <!-- END Widget -->

      </div>
      <div class="col-md-4">

        <!-- BEGIN Widget -->
        <div class="widget4">
          <div class="widget4-group">
            <div class="widget4-addon">
              <h2 class="widget4-highlight">24%</h2>
            </div>
          </div>

          <!-- BEGIN Progress -->
          <div class="progress progress-sm">
            <div class="progress-bar bg-success" style="width: 24%"></div>
          </div>
          <!-- END Progress -->

          <div class="widget4-group">
            <div class="widget4-addon">
              <h2 class="widget4-subtitle">Acquisition growth</h2>
            </div>
          </div>
        </div>
        <!-- END Widget -->

      </div>
    </div>
    <!-- END Row -->

  </div>
</div>
<!-- END Portlet -->
