$datatables-group-bg:               var(--#{$prefix}tertiary-bg) !default;
$datatables-group-bg-root:          var(--#{$prefix}secondary-bg) !default;
$datatables-group-font-size:        $font-size-base !default;
$datatables-group-font-size-sm:     $font-size-sm !default;
$datatables-group-font-weight:      $font-weight-medium !default;
$datatables-group-font-weight-sm:   $font-weight-medium !default;
$datatables-group-padding-y-sm:     $spacer * .3 !default;

$datatables-group-spacer:           1em !default;
$datatables-group-spacer-scale:     .5em !default;
