{% from "components/variables.njk" import defaults %}

<!-- BEGIN Aside -->
<div class="aside">
  <div class="aside-header">
    <h3 class="aside-title">{{ defaults.brand_name }}</h3>
    <div class="aside-addon">
      <button class="btn btn-subtle-primary btn-icon btn-lg" data-toggle="aside">
        <i class="fa fa-times aside-icon-minimize"></i>
        <i class="fa fa-thumbtack aside-icon-maximize"></i>
      </button>
    </div>
  </div>
  <div class="aside-body" data-simplebar data-simplebar-direction="{{ defaults.direction }}">
    <!-- BEGIN Menu -->
    <div class="menu">
      <div class="menu-item">
        <a href="/" data-menu-active-page="dashboard" class="menu-item-link">
          <div class="menu-item-icon">
            <i class="fa fa-desktop"></i>
          </div>
          <span class="menu-item-text">Dashboard</span>
          <div class="menu-item-addon">
            <span class="badge badge-success">New</span>
          </div>
        </a>
      </div>

      <!-- BEGIN Menu Section -->
      <div class="menu-section">
        <div class="aside-section-icon">
          <i class="fa fa-ellipsis-h"></i>
        </div>
        <h2 class="menu-section-text">Elements</h2>
      </div>
      <!-- END Menu Section -->

      <div class="menu-item">
        <button class="menu-item-link menu-item-toggle">
          <div class="menu-item-icon">
            <i class="fa fa-palette"></i>
          </div>
          <span class="menu-item-text">Base</span>
          <div class="menu-item-addon">
            <i class="menu-item-caret caret"></i>
          </div>
        </button>

        <!-- BEGIN Menu Submenu -->
        <div class="menu-sub">
          <div class="menu-item">
            <a
              href="/elements/base/accordion.html"
              data-menu-active-page="elements.base.accordion"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Accordion</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/elements/base/alert.html" data-menu-active-page="elements.base.alert" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Alert</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/elements/base/badge.html" data-menu-active-page="elements.base.badge" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Badge</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/elements/base/breadcrumb.html"
              data-menu-active-page="elements.base.breadcrumb"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Breadcrumb</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/elements/base/button.html" data-menu-active-page="elements.base.button" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Button</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/elements/base/button-group.html"
              data-menu-active-page="elements.base.button-group"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Button group</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/elements/base/card.html" data-menu-active-page="elements.base.card" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Card</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/elements/base/color.html" data-menu-active-page="elements.base.color" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Color</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/elements/base/dropdown.html"
              data-menu-active-page="elements.base.dropdown"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Dropdown</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/elements/base/image.html" data-menu-active-page="elements.base.image" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Image</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/elements/base/list-group.html"
              data-menu-active-page="elements.base.list-group"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">List group</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/elements/base/modal.html" data-menu-active-page="elements.base.modal" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Modal</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/elements/base/nav.html" data-menu-active-page="elements.base.nav" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Navigation</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/elements/base/offcanvas.html"
              data-menu-active-page="elements.base.offcanvas"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Offcanvas</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/elements/base/pagination.html"
              data-menu-active-page="elements.base.pagination"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Pagination</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/elements/base/placeholder.html"
              data-menu-active-page="elements.base.placeholder"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Placeholder</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/elements/base/popover.html" data-menu-active-page="elements.base.popover" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Popover</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/elements/base/progress.html"
              data-menu-active-page="elements.base.progress"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Progress</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/elements/base/spinner.html" data-menu-active-page="elements.base.spinner" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Spinner</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/elements/base/tab.html" data-menu-active-page="elements.base.tab" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Tab</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/elements/base/table.html" data-menu-active-page="elements.base.table" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Table</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/elements/base/toast.html" data-menu-active-page="elements.base.toast" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Toast</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/elements/base/tooltip.html" data-menu-active-page="elements.base.tooltip" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Tooltip</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/elements/base/type.html" data-menu-active-page="elements.base.type" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Typography</span>
            </a>
          </div>
        </div>
        <!-- END Menu Submenu -->
      </div>
      <div class="menu-item">
        <button class="menu-item-link menu-item-toggle">
          <div class="menu-item-icon">
            <i class="fa fa-adjust"></i>
          </div>
          <span class="menu-item-text">Advanced</span>
          <div class="menu-item-addon">
            <i class="menu-item-caret caret"></i>
          </div>
        </button>

        <!-- BEGIN Menu Submenu -->
        <div class="menu-sub">
          <div class="menu-item">
            <a
              href="/elements/advanced/avatar.html"
              data-menu-active-page="elements.advanced.avatar"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Avatar</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/elements/advanced/block-ui.html"
              data-menu-active-page="elements.advanced.block-ui"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Block UI</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/elements/advanced/carousel.html"
              data-menu-active-page="elements.advanced.carousel"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Carousel</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/elements/advanced/chat.html"
              data-menu-active-page="elements.advanced.chat"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Chat</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/elements/advanced/context-menu.html"
              data-menu-active-page="elements.advanced.context-menu"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Context menu</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/elements/advanced/gridnav.html"
              data-menu-active-page="elements.advanced.gridnav"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Grid nav</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/elements/advanced/marker.html"
              data-menu-active-page="elements.advanced.marker"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Marker</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/elements/advanced/richlist.html"
              data-menu-active-page="elements.advanced.richlist"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Rich list</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/elements/advanced/sortable.html"
              data-menu-active-page="elements.advanced.sortable"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Sortable</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/elements/advanced/sweet-alert.html"
              data-menu-active-page="elements.advanced.sweet-alert"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Sweet alert</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/elements/advanced/timeline.html"
              data-menu-active-page="elements.advanced.timeline"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Timeline</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/elements/advanced/treeview.html"
              data-menu-active-page="elements.advanced.treeview"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Treeview</span>
            </a>
          </div>
        </div>
        <!-- END Menu Submenu -->
      </div>
      <div class="menu-item">
        <button class="menu-item-link menu-item-toggle">
          <div class="menu-item-icon">
            <i class="fa fa-icons"></i>
          </div>
          <span class="menu-item-text">Icons</span>
          <div class="menu-item-addon">
            <i class="menu-item-caret caret"></i>
          </div>
        </button>

        <!-- BEGIN Menu Submenu -->
        <div class="menu-sub">
          <div class="menu-item">
            <a href="/icons/fontawesome.html" data-menu-active-page="icons.fontawesome" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Font Awesome</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/icons/feather.html" data-menu-active-page="icons.feather" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Feather</span>
            </a>
          </div>
        </div>
        <!-- END Menu Submenu -->
      </div>
      <div class="menu-item">
        <button class="menu-item-link menu-item-toggle">
          <div class="menu-item-icon">
            <i class="fa fa-window-restore"></i>
          </div>
          <span class="menu-item-text">Portlet</span>
          <div class="menu-item-addon">
            <i class="menu-item-caret caret"></i>
          </div>
        </button>

        <!-- BEGIN Menu Submenu -->
        <div class="menu-sub">
          <div class="menu-item">
            <a href="/portlet/base.html" data-menu-active-page="portlet.base" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Base</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/portlet/drag.html" data-menu-active-page="portlet.drag" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Draggable</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/portlet/tab.html" data-menu-active-page="portlet.tab" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Tab</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/portlet/tool.html" data-menu-active-page="portlet.tool" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Tool</span>
            </a>
          </div>
        </div>
        <!-- END Menu Submenu -->
      </div>
      <div class="menu-item">
        <button class="menu-item-link menu-item-toggle">
          <div class="menu-item-icon">
            <i class="fa fa-shapes"></i>
          </div>
          <span class="menu-item-text">Widgets</span>
          <div class="menu-item-addon">
            <i class="menu-item-caret caret"></i>
          </div>
        </button>

        <!-- BEGIN Menu Submenu -->
        <div class="menu-sub">
          <div class="menu-item">
            <a href="/widgets/general.html" data-menu-active-page="widgets.general" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">General</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/widgets/chart.html" data-menu-active-page="widgets.chart" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Chart</span>
            </a>
          </div>
        </div>
        <!-- END Menu Submenu -->
      </div>

      <!-- BEGIN Menu Section -->
      <div class="menu-section">
        <div class="aside-section-icon">
          <i class="fa fa-ellipsis-h"></i>
        </div>
        <h2 class="menu-section-text">Data</h2>
      </div>
      <!-- END Menu Section -->

      <div class="menu-item">
        <a href="/chart/apexcharts.html" data-menu-active-page="chart.apexcharts" class="menu-item-link">
          <div class="menu-item-icon">
            <i class="fa fa-chart-pie"></i>
          </div>
          <span class="menu-item-text">Charts</span>
        </a>
      </div>
      <div class="menu-item">
        <button class="menu-item-link menu-item-toggle">
          <div class="menu-item-icon">
            <i class="fa fa-table"></i>
          </div>
          <span class="menu-item-text">Datatables</span>
          <div class="menu-item-addon">
            <i class="menu-item-caret caret"></i>
          </div>
        </button>

        <!-- BEGIN Menu Submenu -->
        <div class="menu-sub">
          <div class="menu-item">
            <button class="menu-item-link menu-item-toggle">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Basic</span>
              <div class="menu-item-addon">
                <i class="menu-item-caret caret"></i>
              </div>
            </button>

            <!-- BEGIN Menu Submenu -->
            <div class="menu-sub">
              <div class="menu-item">
                <a
                  href="/datatables/basic/base.html"
                  data-menu-active-page="datatables.basic.base"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">Base</span>
                </a>
              </div>
              <div class="menu-item">
                <a
                  href="/datatables/basic/footer.html"
                  data-menu-active-page="datatables.basic.footer"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">Footer</span>
                </a>
              </div>
              <div class="menu-item">
                <a
                  href="/datatables/basic/scrollable.html"
                  data-menu-active-page="datatables.basic.scrollable"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">Scrollable</span>
                </a>
              </div>
              <div class="menu-item">
                <a
                  href="/datatables/basic/pagination.html"
                  data-menu-active-page="datatables.basic.pagination"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">Pagination</span>
                </a>
              </div>
              <div class="menu-item">
                <a
                  href="/datatables/basic/menu.html"
                  data-menu-active-page="datatables.basic.menu"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">Length menu</span>
                </a>
              </div>
            </div>
            <!-- END Menu Submenu -->
          </div>
          <div class="menu-item">
            <button class="menu-item-link menu-item-toggle">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Advanced</span>
              <div class="menu-item-addon">
                <i class="menu-item-caret caret"></i>
              </div>
            </button>

            <!-- BEGIN Menu Submenu -->
            <div class="menu-sub">
              <div class="menu-item">
                <a
                  href="/datatables/advanced/column-rendering.html"
                  data-menu-active-page="datatables.advanced.column-rendering"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">Column rendering</span>
                </a>
              </div>
              <div class="menu-item">
                <a
                  href="/datatables/advanced/column-visibility.html"
                  data-menu-active-page="datatables.advanced.column-visibility"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">Column visibility</span>
                </a>
              </div>
              <div class="menu-item">
                <a
                  href="/datatables/advanced/footer-callback.html"
                  data-menu-active-page="datatables.advanced.footer-callback"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">Footer callback</span>
                </a>
              </div>
              <div class="menu-item">
                <a
                  href="/datatables/advanced/multiple-controls.html"
                  data-menu-active-page="datatables.advanced.multiple-controls"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">Multiple controls</span>
                </a>
              </div>
              <div class="menu-item">
                <a
                  href="/datatables/advanced/row-callback.html"
                  data-menu-active-page="datatables.advanced.row-callback"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">Row callback</span>
                </a>
              </div>
            </div>
            <!-- END Menu Submenu -->
          </div>
          <div class="menu-item">
            <button class="menu-item-link menu-item-toggle">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Source</span>
              <div class="menu-item-addon">
                <i class="menu-item-caret caret"></i>
              </div>
            </button>

            <!-- BEGIN Menu Submenu -->
            <div class="menu-sub">
              <div class="menu-item">
                <a
                  href="/datatables/source/html.html"
                  data-menu-active-page="datatables.source.html"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">HTML</span>
                </a>
              </div>
              <div class="menu-item">
                <a
                  href="/datatables/source/javascript.html"
                  data-menu-active-page="datatables.source.javascript"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">Javascript</span>
                </a>
              </div>
            </div>
            <!-- END Menu Submenu -->
          </div>
          <div class="menu-item">
            <button class="menu-item-link menu-item-toggle">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Extension</span>
              <div class="menu-item-addon">
                <i class="menu-item-caret caret"></i>
              </div>
            </button>

            <!-- BEGIN Menu Submenu -->
            <div class="menu-sub">
              <div class="menu-item">
                <a
                  href="/datatables/extension/autofill.html"
                  data-menu-active-page="datatables.extension.autofill"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">Auto fill</span>
                </a>
              </div>
              <div class="menu-item">
                <a
                  href="/datatables/extension/buttons.html"
                  data-menu-active-page="datatables.extension.buttons"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">Buttons</span>
                </a>
              </div>
              <div class="menu-item">
                <a
                  href="/datatables/extension/column-reorder.html"
                  data-menu-active-page="datatables.extension.column-reorder"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">Column reorder</span>
                </a>
              </div>
              <div class="menu-item">
                <a
                  href="/datatables/extension/fixed-header.html"
                  data-menu-active-page="datatables.extension.fixed-header"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">Fixed header</span>
                </a>
              </div>
              <div class="menu-item">
                <a
                  href="/datatables/extension/fixed-column.html"
                  data-menu-active-page="datatables.extension.fixed-column"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">Fixed column</span>
                </a>
              </div>
              <div class="menu-item">
                <a
                  href="/datatables/extension/key-table.html"
                  data-menu-active-page="datatables.extension.key-table"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">Key table</span>
                </a>
              </div>
              <div class="menu-item">
                <a
                  href="/datatables/extension/row-group.html"
                  data-menu-active-page="datatables.extension.row-group"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">Row group</span>
                </a>
              </div>
              <div class="menu-item">
                <a
                  href="/datatables/extension/row-reorder.html"
                  data-menu-active-page="datatables.extension.row-reorder"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">Row reorder</span>
                </a>
              </div>
              <div class="menu-item">
                <a
                  href="/datatables/extension/scroller.html"
                  data-menu-active-page="datatables.extension.scroller"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">Scroller</span>
                </a>
              </div>
              <div class="menu-item">
                <a
                  href="/datatables/extension/select.html"
                  data-menu-active-page="datatables.extension.select"
                  class="menu-item-link"
                >
                  <i class="menu-item-bullet"></i>
                  <span class="menu-item-text">Select</span>
                </a>
              </div>
            </div>
            <!-- END Menu Submenu -->
          </div>
        </div>
        <!-- END Menu Submenu -->
      </div>

      <!-- BEGIN Menu Section -->
      <div class="menu-section">
        <div class="aside-section-icon">
          <i class="fa fa-ellipsis-h"></i>
        </div>
        <h2 class="menu-section-text">Form</h2>
      </div>
      <!-- END Menu Section -->

      <div class="menu-item">
        <a href="/form/base.html" data-menu-active-page="form.base" class="menu-item-link">
          <div class="menu-item-icon">
            <i class="fa fa-dice"></i>
          </div>
          <span class="menu-item-text">Base</span>
        </a>
      </div>
      <div class="menu-item">
        <button class="menu-item-link menu-item-toggle">
          <div class="menu-item-icon">
            <i class="fa fa-fill-drip"></i>
          </div>
          <span class="menu-item-text">Advanced</span>
          <div class="menu-item-addon">
            <i class="menu-item-caret caret"></i>
          </div>
        </button>

        <!-- BEGIN Menu Submenu -->
        <div class="menu-sub">
          <div class="menu-item">
            <a
              href="/form/advanced/autosize.html"
              data-menu-active-page="form.advanced.autosize"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Autosize</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/form/advanced/clipboard.html"
              data-menu-active-page="form.advanced.clipboard"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Clipboard</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/form/advanced/datepicker.html"
              data-menu-active-page="form.advanced.datepicker"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Date picker</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/form/advanced/daterangepicker.html"
              data-menu-active-page="form.advanced.daterangepicker"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Date range picker</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/form/advanced/inputmask.html"
              data-menu-active-page="form.advanced.inputmask"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Input mask</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/form/advanced/maxlength.html"
              data-menu-active-page="form.advanced.maxlength"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Maxlength</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/form/advanced/select2.html" data-menu-active-page="form.advanced.select2" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Select2</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/form/advanced/slider.html" data-menu-active-page="form.advanced.slider" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Slider</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/form/advanced/touchspin.html"
              data-menu-active-page="form.advanced.touchspin"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Touchspin</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/form/advanced/typeahead.html"
              data-menu-active-page="form.advanced.typeahead"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Typeahead</span>
            </a>
          </div>
        </div>
        <!-- END Menu Submenu -->
      </div>
      <div class="menu-item">
        <button class="menu-item-link menu-item-toggle">
          <div class="menu-item-icon">
            <i class="fa fa-pencil-ruler"></i>
          </div>
          <span class="menu-item-text">Editor</span>
          <div class="menu-item-addon">
            <i class="menu-item-caret caret"></i>
          </div>
        </button>

        <!-- BEGIN Menu Submenu -->
        <div class="menu-sub">
          <div class="menu-item">
            <a href="/editor/basic.html" data-menu-active-page="editor.basic" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Basic</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/editor/bubble.html" data-menu-active-page="editor.bubble" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Bubble</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/editor/complex.html" data-menu-active-page="editor.complex" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Complex</span>
            </a>
          </div>
        </div>
        <!-- END Menu Submenu -->
      </div>
      <div class="menu-item">
        <a href="/form/group.html" data-menu-active-page="form.group" class="menu-item-link">
          <div class="menu-item-icon">
            <i class="fa fa-th-list"></i>
          </div>
          <span class="menu-item-text">Group</span>
        </a>
      </div>
      <div class="menu-item">
        <a href="/form/layout.html" data-menu-active-page="form.layout" class="menu-item-link">
          <div class="menu-item-icon">
            <i class="fa fa-ruler-combined"></i>
          </div>
          <span class="menu-item-text">Layout</span>
        </a>
      </div>
      <div class="menu-item">
        <a href="/form/validation.html" data-menu-active-page="form.validation" class="menu-item-link">
          <div class="menu-item-icon">
            <i class="fa fa-check"></i>
          </div>
          <span class="menu-item-text">Validation</span>
        </a>
      </div>

      <!-- BEGIN Menu Section -->
      <div class="menu-section">
        <div class="aside-section-icon">
          <i class="fa fa-ellipsis-h"></i>
        </div>
        <h2 class="menu-section-text">Pages</h2>
      </div>
      <!-- END Menu Section -->

      <div class="menu-item">
        <button class="menu-item-link menu-item-toggle">
          <div class="menu-item-icon">
            <i class="fa fa-unlock-alt"></i>
          </div>
          <span class="menu-item-text">Login</span>
          <div class="menu-item-addon">
            <i class="menu-item-caret caret"></i>
          </div>
        </button>

        <!-- BEGIN Menu Submenu -->
        <div class="menu-sub">
          <div class="menu-item">
            <a href="/pages/login/login-1.html" data-menu-active-page="pages.login.login-1" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Login 1</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/pages/login/login-2.html" data-menu-active-page="pages.login.login-2" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Login 2</span>
            </a>
          </div>
        </div>
        <!-- END Menu Submenu -->
      </div>
      <div class="menu-item">
        <button class="menu-item-link menu-item-toggle">
          <div class="menu-item-icon">
            <i class="fa fa-user-plus"></i>
          </div>
          <span class="menu-item-text">Register</span>
          <div class="menu-item-addon">
            <i class="menu-item-caret caret"></i>
          </div>
        </button>

        <!-- BEGIN Menu Submenu -->
        <div class="menu-sub">
          <div class="menu-item">
            <a
              href="/pages/register/register-1.html"
              data-menu-active-page="pages.register.register-1"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Register 1</span>
            </a>
          </div>
          <div class="menu-item">
            <a
              href="/pages/register/register-2.html"
              data-menu-active-page="pages.register.register-2"
              class="menu-item-link"
            >
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Register 2</span>
            </a>
          </div>
        </div>
        <!-- END Menu Submenu -->
      </div>
      <div class="menu-item">
        <button class="menu-item-link menu-item-toggle">
          <div class="menu-item-icon">
            <i class="fa fa-unlink"></i>
          </div>
          <span class="menu-item-text">Error</span>
          <div class="menu-item-addon">
            <i class="menu-item-caret caret"></i>
          </div>
        </button>

        <!-- BEGIN Menu Submenu -->
        <div class="menu-sub">
          <div class="menu-item">
            <a href="/pages/error/error-1.html" data-menu-active-page="pages.error.error-1" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Error 1</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/pages/error/error-2.html" data-menu-active-page="pages.error.error-2" class="menu-item-link">
              <i class="menu-item-bullet"></i>
              <span class="menu-item-text">Error 2</span>
            </a>
          </div>
        </div>
        <!-- END Menu Submenu -->
      </div>
    </div>
    <!-- END Menu -->
  </div>
</div>
<!-- END Aside -->

<!-- BEGIN Script -->
<script type="module" src="/src/app/components/layout/aside.ts"></script>
<!-- END Script -->
