<div class="hstack-gap-2">
	<!-- BEGIN Button Group -->
	<div class="btn-group">
		<input type="radio" class="btn-check" name="timeOption" id="timeOption1" autocomplete="off" checked />
		<label class="btn btn-flat-primary" for="timeOption1">Daily</label>

		<input type="radio" class="btn-check" name="timeOption" id="timeOption2" autocomplete="off" />
		<label class="btn btn-flat-primary" for="timeOption2">Weekly</label>

		<input type="radio" class="btn-check" name="timeOption" id="timeOption3" autocomplete="off" />
		<label class="btn btn-flat-primary" for="timeOption3">Monthly</label>
	</div>
	<!-- END Button Group -->

	<!-- BEGIN Button Group -->
	<div class="btn-group">
		<!-- BEGIN Dropdown -->
		<div class="btn-group">
			<button class="btn btn-subtle-primary btn-icon" data-bs-toggle="dropdown">
				<i class="fa fa-plus"></i>
			</button>
			<div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
				<a href="#" class="dropdown-item">
					<div class="dropdown-icon">
						<i class="fa fa-clipboard-list"></i>
					</div>
					<span class="dropdown-content">Generate report</span>
				</a>
				<a href="#" class="dropdown-item">
					<div class="dropdown-icon">
						<i class="fa fa-user-plus"></i>
					</div>
					<span class="dropdown-content">New member</span>
				</a>
				<a href="#" class="dropdown-item">
					<div class="dropdown-icon">
						<i class="fa fa-boxes"></i>
					</div>
					<span class="dropdown-content">New order</span>
				</a>
			</div>
		</div>
		<!-- END Dropdown -->

		<button class="btn btn-subtle-primary btn-icon" id="fullscreen-trigger">
			<i class="fa fa-expand fullscreen-icon-expand"></i>
			<i class="fa fa-compress fullscreen-icon-compress"></i>
		</button>
	</div>
	<!-- END Button Group -->
</div>

<!-- BEGIN Script -->
<script type="module" src="/src/app/components/layout/header-action.ts"></script>
<!-- END Script -->
