<!-- BEGIN Portlet -->
<div class="portlet border-0 portlet-scroll">
	<div class="portlet-header text-bg-info rounded-0">
		<div class="portlet-icon">
			<i class="far fa-bell"></i>
		</div>
		<h3 class="portlet-title">Notification</h3>
		<div class="portlet-addon">
			<span class="badge badge-subtle-light rounded-pill fs-6">9+</span>
		</div>
	</div>
	<div class="portlet-body p-0 rounded-0" data-toggle="simplebar">
		<!-- BEGIN Rich List -->
		<div class="richlist richlist-action">
			<a href="#" class="richlist-item">
				<div class="richlist-prepend">
					<!-- BEGIN Avatar -->
					<div class="avatar avatar-subtle-info">
						<div class="avatar-display">
							<i class="fa fa-file-invoice"></i>
						</div>
					</div>
					<!-- END Avatar -->
				</div>
				<div class="richlist-content">
					<h4 class="richlist-title">New report has been received</h4>
					<span class="richlist-subtitle">2 min ago</span>
				</div>
				<div class="richlist-append">
					<i class="caret mx-2"></i>
				</div>
			</a>
			<a href="#" class="richlist-item">
				<div class="richlist-prepend">
					<!-- BEGIN Avatar -->
					<div class="avatar avatar-subtle-success">
						<div class="avatar-display">
							<i class="fa fa-shopping-basket"></i>
						</div>
					</div>
					<!-- END Avatar -->
				</div>
				<div class="richlist-content">
					<h4 class="richlist-title">Last order was completed</h4>
					<span class="richlist-subtitle">1 hrs ago</span>
				</div>
				<div class="richlist-append">
					<i class="caret mx-2"></i>
				</div>
			</a>
			<a href="#" class="richlist-item">
				<div class="richlist-prepend">
					<!-- BEGIN Avatar -->
					<div class="avatar avatar-subtle-danger">
						<div class="avatar-display">
							<i class="fa fa-users"></i>
						</div>
					</div>
					<!-- END Avatar -->
				</div>
				<div class="richlist-content">
					<h4 class="richlist-title">Company meeting canceled</h4>
					<span class="richlist-subtitle">5 hrs ago</span>
				</div>
				<div class="richlist-append">
					<i class="caret mx-2"></i>
				</div>
			</a>
			<a href="#" class="richlist-item">
				<div class="richlist-prepend">
					<!-- BEGIN Avatar -->
					<div class="avatar avatar-subtle-warning">
						<div class="avatar-display">
							<i class="fa fa-paper-plane"></i>
						</div>
					</div>
					<!-- END Avatar -->
				</div>
				<div class="richlist-content">
					<h4 class="richlist-title">New feedback received</h4>
					<span class="richlist-subtitle">6 hrs ago</span>
				</div>
				<div class="richlist-append">
					<i class="caret mx-2"></i>
				</div>
			</a>
			<a href="#" class="richlist-item">
				<div class="richlist-prepend">
					<!-- BEGIN Avatar -->
					<div class="avatar avatar-subtle-primary">
						<div class="avatar-display">
							<i class="fa fa-download"></i>
						</div>
					</div>
					<!-- END Avatar -->
				</div>
				<div class="richlist-content">
					<h4 class="richlist-title">New update was availabled</h4>
					<span class="richlist-subtitle">1 day ago</span>
				</div>
				<div class="richlist-append">
					<i class="caret mx-2"></i>
				</div>
			</a>
			<a href="#" class="richlist-item">
				<div class="richlist-prepend">
					<!-- BEGIN Avatar -->
					<div class="avatar avatar-subtle-success">
						<div class="avatar-display">
							<i class="fa fa-asterisk"></i>
						</div>
					</div>
					<!-- END Avatar -->
				</div>
				<div class="richlist-content">
					<h4 class="richlist-title">Your password was changed</h4>
					<span class="richlist-subtitle">2 day ago</span>
				</div>
				<div class="richlist-append">
					<i class="caret mx-2"></i>
				</div>
			</a>
			<a href="#" class="richlist-item">
				<div class="richlist-prepend">
					<!-- BEGIN Avatar -->
					<div class="avatar avatar-subtle-info">
						<div class="avatar-display">
							<i class="fa fa-user-plus"></i>
						</div>
					</div>
					<!-- END Avatar -->
				</div>
				<div class="richlist-content">
					<h4 class="richlist-title">New account has been registered</h4>
					<span class="richlist-subtitle">5 day ago</span>
				</div>
				<div class="richlist-append">
					<i class="caret mx-2"></i>
				</div>
			</a>
		</div>
		<!-- END Rich List -->
	</div>
</div>
<!-- END Portlet -->
