.dataTable {
	tbody {
		// Selected state class
		.selected {
			&,
			td,
			th {
				color: $datatables-selected-color !important;
				background-color: $datatables-selected-bg !important;
				box-shadow: none !important;
			}
		}
	}
}

// Selected row information
.dataTables_wrapper {
	.select-info,
	.select-item {
		margin-left: $datatables-info-spacer;
	}
}
