$typeahead-hint-color:                  $input-placeholder-color !default;

$typeahead-menu-bg:                     $dropdown-bg !default;
$typeahead-menu-border-width:           $dropdown-border-width !default;
$typeahead-menu-border-color:           $dropdown-border-color !default;
$typeahead-menu-border-radius:          $dropdown-border-radius !default;
$typeahead-menu-active-border-color:    $input-focus-border-color !default;

$typeahead-menu-item-color:             var(--#{$prefix}body-color) !default;
$typeahead-menu-item-hover-bg:          $dropdown-link-hover-bg !default;
$typeahead-menu-item-hover-color:       $dropdown-link-hover-color !default;
$typeahead-menu-item-active-bg:         var(--#{$prefix}tertiary-bg) !default;
$typeahead-menu-item-active-color:      var(--#{$prefix}tertiary-color) !default;
$typeahead-menu-item-disabled-bg:       $component-disabled-bg !default;
$typeahead-menu-item-disabled-opacity:  $component-disabled-opacity !default;
$typeahead-menu-item-font-size:         $font-size-base !default;
$typeahead-menu-item-font-weight:       $font-weight-base !default;
$typeahead-menu-item-padding-y:         $spacer * .5 !default;
$typeahead-menu-item-padding-x:         $spacer * .75 !default;
$typeahead-menu-item-child-spacer:      $spacer * 1.25 !default;

$typeahead-menu-content-line-height:    $line-height-base !default;
$typeahead-menu-content-font-size:      $font-size-base !default;

$typeahead-menu-title-color:            var(--#{$prefix}heading-color) !default;
$typeahead-menu-title-font-weight:      $font-weight-medium !default;
$typeahead-menu-subtitle-color:         var(--#{$prefix}body-color) !default;
$typeahead-menu-subtitle-font-weight:   $font-weight-base !default;

$typeahead-menu-addon-spacer:           $spacer * .5 !default;

$typeahead-menu-empty-color:            var(--#{$prefix}secondary-color) !default;
$typeahead-menu-empty-font-size:        $font-size-base !default;
$typeahead-menu-empty-font-weight:      $font-weight-medium !default;

$typeahead-menu-header-color:           var(--#{$prefix}heading-color) !default;
$typeahead-menu-header-font-size:       $font-size-base !default;
$typeahead-menu-header-font-weight:     $font-weight-medium !default;

$typeahead-menu-highlight-color:        var(--#{$prefix}primary) !default;
