$daterangepicker-input-spacer:        $spacer * .5 !default;

$daterangepicker-menu-padding-y:      $dropdown-padding-y !default;
$daterangepicker-menu-width:          12rem !default;

$daterangepicker-item-color:          $dropdown-link-color !default;
$daterangepicker-item-hover-bg:       $dropdown-link-hover-bg !default;
$daterangepicker-item-hover-color:    $dropdown-link-hover-color !default;
$daterangepicker-item-active-bg:      $dropdown-link-active-bg !default;
$daterangepicker-item-active-color:   $dropdown-link-active-color !default;
$daterangepicker-item-padding-y:      $dropdown-item-padding-y !default;
$daterangepicker-item-padding-x:      $dropdown-item-padding-x !default;
