{% extends "components/template.njk" %}
{% set page_title = "Error 2" %}
{% set page_id = "landing.error.error-2" %}
{% set enable_container_fluid = true %}
{% set enable_aside = false %}
{% set enable_header = false %}
{% set enable_footer = false %}
{% set content_wrapper_class = "text-bg-primary" %}

{% block content %}
  <div class="row g-0 align-items-center justify-content-center h-100">
    <div class="col-12">
      <h1 class="display-1 text-white fw-bold">404</h1>
      <h3 class="text-white">How did you get here</h3>
      <h6 class="text-white">Sorry we can't seem to find the page you're looking for.</h6>
      <p class="text-white">
        There may be amisspelling in the URL entered, or the page you are looking for may no longer exist.
      </p>
    </div>
  </div>
{% endblock %}
