$zindex-datatable-btn-collection:                   $zindex-dropdown !default;
$zindex-datatable-btn-info:                         $zindex-modal !default;

$datatables-btn-collection-bg:                       $dropdown-bg !default;
$datatables-btn-collection-border-width:             $dropdown-border-width !default;
$datatables-btn-collection-border-color:             $dropdown-border-color !default;
$datatables-btn-collection-border-radius:            $dropdown-border-radius !default;
$datatables-btn-collection-padding-y:                $spacer * .5 !default;
$datatables-btn-collection-padding-x:                0 !default;

$datatables-btn-collection-col-gap:                  $spacer * .75 !default;
$datatables-btn-collection-2col-width:               25rem !default;
$datatables-btn-collection-3col-width:               30rem !default;
$datatables-btn-collection-4col-width:               35rem !default;

$datatables-btn-collection-spinner-color:            var(--#{$prefix}body-color) !default;
$datatables-btn-collection-spinner-dimension:        1.25rem !default;
$datatables-btn-collection-spinner-border-width:     2px !default;
$datatables-btn-collection-spinner-border-color:     var(--#{$prefix}primary) !default;
$datatables-btn-collection-spinner-animation:        dtb-spinner 1.25s infinite linear !default;

$datatables-btn-collection-title-padding-y:          $spacer * .75 !default;
$datatables-btn-collection-title-padding-x:          $spacer !default;
$datatables-btn-collection-title-color:              var(--#{$prefix}heading-color) !default;
$datatables-btn-collection-title-font-size:          $font-size-base !default;
$datatables-btn-collection-title-font-weight:        $font-weight-medium !default;

$datatables-btn-info-width:                          30rem !default;
$datatables-btn-info-bg:                             $modal-content-bg !default;
$datatables-btn-info-border-width:                   $modal-content-border-width !default;
$datatables-btn-info-border-color:                   $modal-content-border-color !default;
$datatables-btn-info-border-radius:                  $modal-content-border-radius !default;

$datatables-btn-info-content-padding-y:              $spacer * .75 !default;
$datatables-btn-info-content-padding-x:              $spacer * .5 !default;

$datatables-btn-info-title-color:                    var(--#{$prefix}heading-color) !default;
$datatables-btn-info-title-font-size:                $font-size-xl !default;
$datatables-btn-info-title-font-weight:              $font-weight-base !default;

$datatables-btn-info-body-color:                     var(--#{$prefix}body-color) !default;
$datatables-btn-info-body-font-size:                 $font-size-base !default;
$datatables-btn-info-body-font-weight:               $font-weight-base !default;

$datatables-btn-divider-font-size:                   $font-size-base !default;
$datatables-btn-divider-spacer:                      $spacer * .5 !default;
$datatables-btn-divider-width:                       var(--#{$prefix}border-width) !default;
$datatables-btn-divider-color:                       var(--#{$prefix}border-color) !default;

$datatables-close-spacer:                            $spacer * .75 !default;
$datatables-close-dimension:                         2rem !default;
$datatables-close-color:                             var(--#{$prefix}secondary-color) !default;
$datatables-close-bg:                                var(--#{$prefix}secondary-bg) !default;
$datatables-close-font-family:                       $font-family-monospace !default;
$datatables-close-font-size:                         1.2rem !default;
$datatables-close-font-weight:                       $font-weight-bold !default;
$datatables-close-border-radius:                     var(--#{$prefix}border-radius-sm) !default;