<!-- prettier-ignore-start -->
{% set defaults = {
  brand_name: "Olinel",
  favicon: "/images/favicon.ico" ,
  theme: "light",
  direction: env["PAGE_DIRECTION"] | default("ltr"),
  enable_container_fluid: true,
  enable_preload: true,
  enable_aside: true,
  enable_minimized_aside: false,
  enable_header: true,
  enable_footer: true,
  enable_analytics: false,
  google_analytics_id: "G-XXXXXXXXXX",
  components: {
    preload: "components/layout/preload.njk",
    aside: "components/layout/aside.njk",
    header: "components/layout/header.njk",
    footer: "components/layout/footer.njk",
    offcanvas: [
      "components/layout/floating-button.njk",
      "components/offcanvas/settings.njk",
      "components/offcanvas/todo.njk"
    ]
  }
}%}
<!-- prettier-ignore-end -->
