<!-- BEGIN Preload -->
<div class="preload">
  <div class="preload-message">

    <!-- BEGIN Spinner -->
    <div class="spinner-border text-primary"></div>
    <!-- END Spinner -->

    <span class="preload-text">Please wait...</span>
  </div>
</div>
<!-- END Preload -->

<!-- BEGIN Script -->
<script type="module">
  import { initPreload } from '@/app/utilities/core-components'

  initPreload()
</script>
<!-- END Script -->
