.sortable {
	display: flex;
	flex-direction: column;

	.sortable {
		padding-left: $sortable-menu-spacer;
	}
}

.sortable-handle {
	cursor: move;
	padding: $sortable-handle-padding;
	@include icon-size($sortable-handle-icon-size);
}

.sortable-ghost {
	opacity: $sortable-drag-opacity;
}

// SortableJS support
.sortable.rich-list-bordered {
	.sortable,
	.sortable-item:not(:first-of-type) {
		margin-top: $richlist-item-spacer;
	}
}

.sortable.rich-list-flush {
	.sortable,
	.sortable-item:not(:first-of-type) {
		border-top: $richlist-border-width solid $richlist-border-color;
	}
}
